#img1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    background-color: #53E355;
    z-index: 1;
}

#img2 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
    background-color: #6DA9E7;
    z-index: 2;
}

<img scr="img1" id="img1"><img scr="img2" id="img2">